# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
project_1
Vivado1
Vivado2
Vivado3
Vivado4
Vivado5
*.log
/Vivado/SDK/.metadata
/Vivado/SDK/.sdk
/Vivado/SDK/mcu_bsp
/Vivado/SDK/RemoteSystemsTempFiles
/Vivado/SDK/webtalk
/Vivado/SDK/z7_top_hw_platform_0
/Vivado/SDK/z7_top.hdf
/Vivado/SDK/top_hw_platform_0
/Vivado/SDK/top.hdf
/Vivado_3dnr/SDK/.metadata
/Vivado_3dnr/SDK/.sdk
/Vivado_3dnr/SDK/mcu_bsp
/Vivado_3dnr/SDK/RemoteSystemsTempFiles
/Vivado_3dnr/SDK/webtalk
/Vivado_3dnr/SDK/z7_top_hw_platform_0
/Vivado_3dnr/SDK/z7_top.hdf
/Vivado_3dnr/SDK/top_hw_platform_0
/Vivado_3dnr/SDK/top.hdf
/Vivado.zip
/Vivado6
/Vivado7
*.zip
/Vivado/Packages/.repos.xml
/Vivado_axim
*.7z
/Vivado/SDK/fsbl_bsp
/Vivado/SDK/fsbl
/Vivado_3dnr/SDK/fsbl_bsp
/Vivado_3dnr/SDK/fsbl 
/Vivado_5aximm/SDK/top.hdf
/Vivado_5aximm/SDK/.metadata
/Vivado_5aximm/SDK/mcu_bsp
/Vivado_5aximm/SDK/RemoteSystemsTempFiles
/Vivado_5aximm/SDK/top_hw_platform_0
/Vivado_5aximm/SDK/webtalk
/Vivado_5aximm/SDK/SDK.log
/bak
/BIN
/Vivado_5aximm/SDK/fsbl_bsp
/Vivado_5aximm/SDK/fsbl
/Vivado_5aximm/Packages
/Vivado_sensor/SDK/top.hdf
/Vivado_sensor/SDK/.metadata
/Vivado_sensor/SDK/.sdk
/Vivado_sensor/SDK/mcu_bsp
/Vivado_sensor/SDK/RemoteSystemsTempFiles
/Vivado_sensor/SDK/top_hw_platform_0
/Vivado_sensor/SDK/webtalk
/Vivado_sensor/SDK/SDK.log
/Vivado_sensor/Packages
/Vivado_3dnr/Packages/.repos.xml
project_2
